<h1>Mi Aplicación Angular con Keycloak</h1>

		<button *ngIf="isLogueado" type="button" (click)="cerrarSesion()">Cerrar Session</button>
		<button *ngIf="!isLogueado" type="button" (click)="iniciarSesion()">Iniciar Session</button>

		<ng-container *ngIf="perfilUsuario">
		  <h2>Informacion del Usuario</h2>
		  <table>
		    <tr *ngIf="perfilUsuario.username">
		      <th scope="row">Usuario</th>
		      <td>{{ perfilUsuario.username }}</td>
		    </tr>
		    <tr *ngIf="perfilUsuario.firstName">
		      <th scope="row">Primer Nombre</th>
		      <td>{{ perfilUsuario.firstName }}</td>
		    </tr>
		    <tr *ngIf="perfilUsuario.lastName">
		      <th scope="row">Segundo Nombre</th>
		      <td>{{ perfilUsuario.lastName }}</td>
		    </tr>
		    <tr *ngIf="perfilUsuario.email">
		      <th scope="row">Correo Electronico</th>
		      <td>{{ perfilUsuario.email }}</td>
		    </tr>
		    <tr>
		      <th scope="row">Correo Verificado</th>
		      <td>{{ perfilUsuario.emailVerified ? 'Si' : 'No' }}</td>
		    </tr>
		  </table>

		  <div class="container">
			<div class="row">
				<div class="col-md-12">
				<div class="card bg-dark my-5">
					<div class="card-body">
					<h2 class="card-title text-center text-white py-3">{{ title }}</h2>
					<ul class="text-center list-inline py-3">
						<li class="list-inline-item">
						<a routerLink="/users" class="btn btn-info">List Users</a>
							</li>
						<li class="list-inline-item">
						<a routerLink="/adduser" class="btn btn-info">Add User</a>
							</li>
					</ul>
					</div>
				</div>
				<router-outlet></router-outlet>
				</div>
			</div>
			</div>
		</ng-container>